.main {
  height: 100vh;
  width: 100vw;
  background-image: url(https://www.cornerstone.se/globalassets/amnesomraden/windows-infrastruktur/windows-powershell-automating-administration.jpg?width=1370&mode=crop&heightratio=0.6345&quality=80);
  background-position: center;
  background-size: cover;
}

.logincard {
  width: 25rem;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.8) !important;
  display: flex;
  margin-top: 10%;
}
